<div style="height:100%;width:100%;">

<div 	dojoType="dijit.layout.BorderContainer"
		dojoAttachPoint="pneMain"
		design="headline"
		gutters="false"
        class="versaInfoPane"
		style="height:100%;padding:8px;width:100%">

	<div 	dojoType="dijit.layout.ContentPane"
			dojoAttachPoint="pneContentNode"
			region="center"
			splitter="false"
			style="padding: 0">

		<div dojoAttachPoint="pnePreviewNode" style="position:relative;width:100%;height:100%">

			<iframe src=""
					dojoAttachPoint="previewNode"
					allowtransparency="true"
					frameborder="0"
					height="100%"
					width="100%"
					marginheight="0"
					marginwidth="0"
					scrolling="no"
				 style="position:absolute;top:0;left:0;height:100%;width:100%"></iframe>


		</div>
		<div dojoAttachPoint="stbPreviewNode"></div>

	</div>

</div>


</div>