<div style="width: 100%; height: 100%;">
    <table>
        <tr>
            <td dojoAttachPoint="lblCompanyName" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Company Name:
            </td>
            <td>
                <input dojoAttachPoint="txtCompanyName"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblFirstName" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                First Name:
            </td>
            <td>
                <input dojoAttachPoint="txtFirstName"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblLastName" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Last Name:
            </td>
            <td>
                <input dojoAttachPoint="txtLastName"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblEmail" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Email:
            </td>
            <td>
                <input dojoAttachPoint="txtEmail"/>
            </td>
        </tr><tr dojoAttachPoint="trResetPass">
            <td dojoAttachPoint="lblResetPass" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Password:
            </td>
            <td>
                <input dojoAttachPoint="txtResetPass"/>
                <div dojoAttachPoint="btnResetPass"></div>
            </td>
        </tr><tr dojoAttachPoint="trGeneratePass" style="display: none;">
            <td dojoAttachPoint="lblGeneratePass" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Password:
            </td>
            <td>
                <input dojoAttachPoint="txtGeneratePass"/>
                <div dojoAttachPoint="btnGeneratePass"></div>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblAddress" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Address:
            </td>
            <td>
                <input dojoAttachPoint="txtAddress"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblCity" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                City:
            </td>
            <td>
                <input dojoAttachPoint="txtCity"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblCountry" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Country:
            </td>
            <td>
                <input dojoAttachPoint="cboCountry"/>
            </td>
        </tr><tr dojoAttachPoint="trProvince">
            <td dojoAttachPoint="lblProvince" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Province:
            </td>
            <td>
                <input dojoAttachPoint="cboProvince"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblPostal" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Postal Code:
            </td>
            <td>
                <input dojoAttachPoint="txtPostal"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblPhone" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Phone Number:
            </td>
            <td>
                <input dojoAttachPoint="txtPhone"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblBillingType" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Billing Type:
            </td>
            <td>
                <input dojoAttachPoint="cboBillingType"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblAccountType" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Account Type:
            </td>
            <td>
                <input dojoAttachPoint="cboAccountType"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblStartDate" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Trial Period:
            </td>
            <td>
                <input dojoAttachPoint="cmbTrialPeriod"/>
            </td>
        </tr>
    </table>
</div>