/*
VERSAFILE PALETTE

Primary
DarkGray:       #75787B
Green/Blue:     #2DCCD3
Yellow:         #FFD100

Secondary
LightGray       #D9D9D6
DarkerBlue      #0082BA
Orange          #ED8B00

Extra
Background      #FFFFFF
*/

.versaHide{
    visibility: hidden;
    display: none;
    opacity: 0;
    filter: "alpha(opacity=0)";
}

.versafile .dijitTreeContent{
    color: #336699;
}

.versafile .dijitMenuHeader{
    background: #D9D9D6 !important;
    color: #75787B !important;
    opacity: 1.0 !important;
    cursor: default !important;
}

.versafile .dijitMenuHeader .dijitMenuItemIconCell{
    border-bottom: 1px solid #75787B;
    opacity: 1.0 !important;
}

.versafile .dijitMenuHeader .dijitMenuItemLabel{
    border-bottom: 1px solid #75787B;
    text-align: center;
    opacity: 1.0 !important;
}

.versafile .dijitMenuHeader .dijitMenuArrowCell{
    border-bottom: 1px solid #75787B;
    width:18px !important;
    opacity: 1.0 !important;
}

.versafile .dijitInputField{
	color: #336699;
}

.versafile .dijitPlaceHolder{
    color: #AAAAAA;
}

.versafile .dijitMenuItem{
    color: #336699;
}

.versafile a:link{
    text-decoration: none;
    color: #75787B;
}
.versafile a:visited{
    color: #75787B;
}

.versafile a:hover{
    text-decoration:underline;
}

.versafile .dijitTextArea{
    padding: 0 !important;
    color: #336699;
    font:inherit !important;
}

.versafile .dijitTextAreaDisabled{
    padding: 0 !important;
    color: #818181 !important;
    font:inherit !important;
}


.versaSidebar.dijitToolbar{
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    padding: 0 !important;
}

.versafile .dojoxLegendNode{
    background-color: transparent !important;
}

.versafile .dojoxLegendText{
    color: #336699;
    padding-left: 4px;
}

/*
.bfree .dijitDialogTitle{
	color: #336699;
}



.bfree .dijitPlaceHolder{
	color: #AAAAAA !important;
}

.bfree li.dijitMenuItem {
	color: #336699 !important;
}




.bfree .dijitTextBoxFocused .dijitInputContainer{
	background-color:transparent !important;
}

*/