/* base table w/ cell padding */
.versa-table{

}
.versa-table-horiz{
}

.versa-table-vert{
}

.versa-labelCell {
    color: #336699;
    vertical-align:top;
    padding-top: 4px;
}
.versa-valueCell {
}

/* small table */
.versainfo-table{
    font-size:0.8em
}
.versainfo-table-horiz{
}

.versainfo-table-vert{
}

.versainfo-labelCell {
    color: #336699;
    vertical-align:top;
}
.versainfo-valueCell {
}

/* base table wo/ cell padding */
.versathin-table{
    border-collapse: collapse;
    padding:0;
    background: transparent;
}
.versathin-table-horiz{
}

.versathin-table-vert{
}

.versathin-labelCell {
    color: #336699;
    vertical-align:top;
}
.versathin-valueCell {
}

/* footer table */
.versafoot-table{
    font-size:11px;
    width:0px;
}
.versafoot-table-horiz{
}

.versafoot-table-vert{
}

.versafoot-labelCell {
    color: #336699;
    vertical-align:middle;
    overflow: hidden;
    min-width:112px;
}
.versafoot-valueCell {
    overflow: hidden;
    white-space: nowrap;
    max-width:228px;
    min-width:228px;
    padding-right:8px;
}

/* footer-full width table */
.versafootfull-table{
    font-size:11px;
    width:100%;
}
versafootfull-table-horiz{
}

.versafootfull-table-vert{
}

.versafootfull-labelCell {
    color: #336699;
    vertical-align:middle;
    overflow: hidden;
    min-width:112px;
}
.versafootfull-valueCell {
    overflow: hidden;
    white-space: nowrap;
    max-width:228px;
    min-width:228px;
    padding-right:8px;
}

