<div style="height:100%;width:100%">	
	
	<table style="height:100%;width:100%;">
		<tr>
			<td style="vertical-align:middle;width:48px">
				<img dojoAttachPoint="typeIconNode" src="/images/mimetypes/48/search.png" height="48" width="48"></img>
			</td>
			<td style="padding:0 0 0 16px;width:100%">
				<table style="height:100%;width:100%">
					<tr>
						<td style="vertical-align:bottom;width:33%">
							<table style="height:100%;width:100%">
								<tr>
									<td dojoAttachPoint="titleNode" colspan="2" class="largeLabel darkBoldLabel" style="height:20%;white-space:nowrap;"></td>	
								</tr>
								<tr>
									<td class="mediumLabel darkLabel" style="height:20%;padding:0 4px 0 0;white-space:nowrap;width:1px;">Type:</td>
									<td dojoAttachPoint="typeNode" class="mediumLabel darkBoldLabel"></td>
								</tr>
								<tr>
									<td class="mediumLabel darkLabel" style="height:20%;padding:0 4px 0 0;white-space:nowrap;">Document Count:</td>
									<td dojoAttachPoint="countNode" class="mediumLabel darkBoldLabel"></td>
								</tr>
								<tr>
									<td class="mediumLabel darkLabel" style="height:20%;padding:0 4px 0 0;white-space:nowrap;">Created By:</td>
									<td dojoAttachPoint="createdByNode" class="mediumLabel darkBoldLabel"></td>
								</tr>
								<tr>
									<td class="mediumLabel darkLabel" style="height:20%;padding:0 4px 0 0;white-space:nowrap;">Date Created:</td>
									<td dojoAttachPoint="createdAtNode" class="mediumLabel darkBoldLabel"></td>
								</tr>
								
							</table>
						</td>
												
					</tr>
				</table>
			</td>
		</tr>
	</table>
	

</div>