<div style="height:100%;width:100%">

<div    dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        style="padding:8px 8px 4px 8px;height:100%;width:100%;">

    <div    dojoType="dijit.layout.BorderContainer"
            design="headline"
            gutters="false"
            splitter="false"
            region="center">

        <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="top"
                splitter="false"
                style="padding:0 0 4px 0;overflow:hidden;height:16px;">
            <span class="dijitDarkLabel dijitMediumLabel">Copy the following link to access the shared documents:</span>
        </div>

        <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="center"
                splitter="false"
                class="highlightPane"
                style="padding:8px;overflow:hidden;text-align:center">

            <a dojoAttachPoint="anchorNode" href="" target="_blank" class="dijitBoldLabel dijitLargeLabel versashare"></a>

        </div>

    </div>

</div>

</div>