<div style="height:100%;width:100%">

<div    dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        style="padding:8px 8px 4px 8px;height:100%;width:100%;">

    <div    dojoType="dijit.layout.BorderContainer"
            design="headline"
            gutters="false"
            splitter="false"
            region="center">

        <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="center"
                splitter="true"
                class="highlightPane"
                style="padding:8px;overflow:hidden;">

            <div dojoAttachPoint="formNode">
                <div dojoAttachPoint="tableNode"></div>
            </div>

        </div>

    </div>

</div>

</div>