<div style="height:52px;width:100%;position:relative;border:none">

    <img src="" dojoAttachPoint="typeIconNode" style="position:absolute;left:2px;top:2px;"/>

    <div style="position:absolute;top:50%;left:58px;height:48px;margin-top:-24px">
        <div class="dijitDarkLabel dijitHeadingLabel">
            <a id="sharelink" href="" dojoAttachPoint="nameNode" class="versashare"></a>
        </div>
        <div style="padding:0;border:none">
            <div style="padding:0;display:inline-block;width:68px" class="dijitSmallLabel">File Name</div>
            <span dojoAttachPoint="fileNameNode" class="dijitSmallLabel" style="padding:0;"></span>
        </div>
        <div style="padding:0;border:none">
            <div style="padding:0;display:inline-block;width:68px" class="dijitSmallLabel">File Size</div>
            <span dojoAttachPoint="fileSizeNode" class="dijitSmallLabel"tyle="padding:0;"></span>
        </div>
    </div>

</div>