.versafile .dijitButtonNode{
	color: #336699;
}
.versafile .dijitButtonHover{
	color: #336699;
}
.versafile .versaButton .dijitButtonNode{
	width: 64px;
}
.versfile .versaButtonLarge .dijitButtonNode{
    width: 88px;
}
.imageButton .dijitButtonNode {
	border: 0 !important;
	display: block !important;
    background: none !important;
    padding: 2px 4px 4px 4px !important;
}
.sidebarButton .dijitButtonNode{
    padding: 4px 4px 4px 4px !important;
}
.versaSearchDropDown .dijitDropDownButton .dijitButtonNode{
  border: none !important;
  padding: 2px 4px 4px 4px;
  background-image: none !important;
  background-position: center top;
  background-repeat: repeat-x;
  background-color: #8a2be2 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
