
.versafile .dijitDarkLabelV{
    color: #75787B;
}
.versafile .dijitLightLabel{
	color: #78CCFF;
}
.versafile .dijitDarkLabel{
	color: #336699;
}
.versafile .dijitOkLabel{
	color: #669900;
    font-size: 0.80em;
}
.versafile .dijitErrorLabel{
	color: #800000 !important;
    font-size: 0.80em;
}
.versafile .dijitStrongErrorLabel{
    color: #800000 !important;
    font-size: 1em;
}
.versafile .dijitBoldLabel{
	font-weight:bolder;
}
.versafile .dijitSmallLabel{
	font-size: 0.80em;
}
.versafile .dijitMediumLabel{
	font-size: 1.0em;
}
.versafile .dijitLargeLabel{
	font-size: 1.05em;
}
.versafile .dijitHeadingLabel{
	font-size: 1.25em;
    font-weight: bold;
}
