html.mobile, .mobile body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.mobile body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  background-color: #D9D9D6;
  font-family: Helvetica;
  font-size: 17px;
}
.mblColorBlue {
  background-color: #366EDF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a9de9), to(#2362dd), color-stop(0.5, #366edf), color-stop(0.5, #215fdc));
}
.mblColorDefault {
  background-color: #2DCCD3;
  
}
.mblColorDefaultSel {
  background-color: #419A9E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c87a4), to(#263e6c), color-stop(0.5, #394d77), color-stop(0.5, #243b69));
}
