<div align="center" style="height:68px;width:554px;position:relative">
<div dojoAttachPoint="logonFormNode">

    <span style="position:absolute;top:0px;left:0" class="logonLabel">
        Your password has expired, please enter a new one.
    </span>

    <span style="position:absolute;top:24px;left:0px" class="logonLabel">Old Password</span>
    <div style="position:absolute;top:38px;left:0px"><input dojoAttachPoint="txtOldPassword"/></div>

    <span style="position:absolute;top:24px;left:168px" class="logonLabel">New Password</span>
    <div style="position:absolute;top:38px;left:168px"><input dojoAttachPoint="txtNewPassword"/></div>

    <span style="position:absolute;top:24px;left:336px" class="logonLabel">Reset Password</span>
    <div style="position:absolute;top:38px;left:336px"><input dojoAttachPoint="txtRepeatPassword"/></div>

    <span style="position:absolute;top:60px;left:336px" class="logonLabel">
        <a href="javascript://" class="versaLink" dojoattachpoint="aReturn">Return to log in</a>
    </span>

    <div style="position:absolute;top:32px;left:504px;">
        <button dojoAttachPoint="logonButtonNode" type="submit"></button>
    </div>
</div>
</div>