<div style="width: 100%; height: 100%;">
    <table>
        <tr>
            <td dojoAttachPoint="lblZoneName" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Zone Name:
            </td>
            <td style="width: 300px">
                <input dojoAttachPoint="txtZoneName"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblSubdomain" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Subdomain:
            </td>
            <td>
                <input dojoAttachPoint="txtSubdomain"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblFingerprint" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Fingerprint:
            </td>
            <td>
                <span dojoAttachPoint="txtFingerprint" class="dijitLabel dijitDarkLabel"></span>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblCurrentUsers" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Current Users:
            </td>
            <td>
                <span dojoAttachPoint="txtCurrentUsers" class="dijitLabel dijitDarkLabel">0</span>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblMaxUsers" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Max Users:
            </td>
            <td>
                <input dojoAttachPoint="txtMaxUsers">
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblCurrentQuota" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Current Disk Quota:
            </td>
            <td>
                <span dojoAttachPoint="txtCurrentQuota" class="dijitLabel dijitDarkLabel">0 bytes</span>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblMaxQuota" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Max Disk Quota:
            </td>
            <td style="white-space: nowrap;">
                <input dojoAttachPoint="txtMaxQuota"><span class="dijitLabel dijitDarkLabel"> GB</span>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblAccount" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Account:
            </td>
            <td>
                <input dojoAttachPoint="cboAccount">
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblServer" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Server:
            </td>
            <td>
                <input dojoAttachPoint="cboServer">
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblStatus" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Status:
            </td>
            <td>
                <input dojoAttachPoint="cboStatus">
            </td>
        </tr><tr>
            <td colspan="2" style="text-align: right;">
                <div dojoAttachPoint="btnUpdate">
                    <div style="width:40px">Update</div>
                </div>
                <div dojoAttachPoint="btnDeploy">
                    <div style="width:40px">Deploy</div>
                </div>
            </td>
        </tr>
    </table>
</div>