<div style="height:100%;position:relative;width:100%">	

	<table style="width:100%">
		<tr>			
			<td style="text-align:left;vertical-align:top;white-space:nowrap;;width:96px;">
				<input dojoAttachPoint="rdoDataTypeStrNode" type="radio"></input>
				<label dojoAttachPoint="lblDataTypeStrNode" class="mediumLabel darkLabel">String</label>
			</td>
		</tr>		
		<tr>		
			<td style="text-align:left;vertical-align:top;white-space:nowrap;">
				<input dojoAttachPoint="rdoDataTypeDttNode" type="radio"></input>
				<label dojoAttachPoint="lblDataTypeDttNode" class="mediumLabel darkLabel">Date</label>
			</td>
		</tr>
		<tr>		
			<td style="text-align:left;vertical-align:top;white-space:nowrap;">
				<input dojoAttachPoint="rdoDataTypeIntNode" type="radio"></input>
				<label dojoAttachPoint="lblDataTypeIntNode" class="mediumLabel darkLabel">Integer</label>
			</td>
		</tr>
		<tr>		
			<td style="text-align:left;vertical-align:top;white-space:nowrap;">
				<input dojoAttachPoint="rdoDataTypeFltNode" type="radio"></input>
				<label dojoAttachPoint="lblDataTypeFltNode" class="mediumLabel darkLabel">Decimal</label>
			</td>
		</tr>
		<tr>		
			<td style="text-align:left;vertical-align:top;white-space:nowrap;">
				<input dojoAttachPoint="rdoDataTypeBlnNode" type="radio"></input>
				<label dojoAttachPoint="lblDataTypeBlnNode" class="mediumLabel darkLabel">Boolean</label>
			</td>
		</tr>
		<tr>		
			<td style="text-align:left;vertical-align:top;white-space:nowrap;">
				<input dojoAttachPoint="rdoDataTypeTxtNode" type="radio"></input>
				<label dojoAttachPoint="lblDataTypeTxtNode" class="mediumLabel darkLabel">Text</label>
			</td>
		</tr>
				
	</table>

</div>
