<div align="center" style="height:68px;width:408px;position:relative">

<div dojoAttachPoint="logonNode">
<div dojoAttachPoint="logonFormNode" >

    <span style="position:absolute;top:24px;left:0" class="logonLabel">Username</span>
    <div style="position:absolute;top:38px"><input dojoAttachPoint="userNameNode"/></div>

    <span style="position:absolute;top:24px;left:168px" class="logonLabel">Password</span>
    <div style="position:absolute;top:38px;left:168px;"><input dojoAttachPoint="passwordNode"/></div>

    <div style="position:absolute;top:32px;left:332px;">
        <button dojoAttachPoint="logonButtonNode" type="submit"></button>
    </div>

</div>
</div>
</div>