<div style="width: 100%; height: 100%;">
    <table>
        <tr>
            <td dojoAttachPoint="lblServerExists" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Server Exists:
            </td>
            <td>
                <span dojoAttachPoint="lblServerExistsSpan" class="dijitLabel dijitDarkLabel">
                    NO!
                </span>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblServerName" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Server Name:
            </td>
            <td>
                <input dojoAttachPoint="txtServerName"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblProtocol" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Protocol:
            </td>
            <td>
                <input dojoAttachPoint="cboProtocolSelect"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblHost" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Host:
            </td>
            <td>
                <input dojoAttachPoint="txtHost"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblPort" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Port:
            </td>
            <td>
                <input dojoAttachPoint="txtPort"/>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblActive" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Active:
            </td>
            <td>
                <span dojoAttachPoint="spanActive" class="dijitLabel dijitDarkLabel">
                    No
                </span>
            </td>
        </tr><tr>
            <td dojoAttachPoint="lblCurrent" class="dijitLabel dijitDarkLabel" style="padding-right:8px;text-align:right;white-space:nowrap;">
                Current:
            </td>
            <td>
                <input dojoAttachPoint="chkCurrent"/>
            </td>
        </tr>
    </table>
</div>