<div style="height:120px;width:100%;">

<div    dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        style="padding:4px 8px 4px 8px;height:100%;width:100%;">

    <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="center"
                splitter="true"
                style="overflow:hidden;padding:8px;position:relative"
                class="highlightPane">

        <div class="dijitBoldLabel dijitLargeLabel dijitDarkLabel" style="">Document Types</div>
        <div dojoAttachPoint="tableNode"></div>

        <div dojoAttachPoint="chartNode" style="height:96px;width:96px;position:absolute;left:144px;top:4px"></div>
        <div dojoAttachPoint="legendNode"></div>
    </div>

</div>

</div>