<div style="height:32px;padding-left:36px;position:relative;top:0;left:0;">	
	
	<div style="position:absolute;top:0;left:0;">	
		<img dojoAttachPoint="typeIconNode" src="/images/mimetypes/32/default.png" height="32" width="32"></img>
	</div>
		
	<div style="height:100%;position:relative;left:0;top:0">
		<div class="mediumLabel darkBoldLabel" style="position:absolute;top:2px;left:2px;">
			<span dojoAttachPoint="userNameNode" style="white-space:nowrap;">${name}</span>
		</div>
		<div class="hr" style="position:absolute;top:16px;left:0;"></div>
		<div class="smallLabel darkLabel" style="position:absolute;top:18px;">
			<span dojoAttachPoint="documentTypeNode" style="padding-left:4px">${documentType}</span>
		</div>
		<div class="smallLabel darkLabel" style="position:absolute;top:18px;right:0">
			<span dojoAttachPoint="documentSizeNode" style="padding-left:4px"></span>
		</div>
	</div>		

</div>