<div style="height:32px;padding-left:36px;position:relative;top:0;left:0;">

    <div style="position:absolute;top:0;left:0;">
		<img dojoAttachPoint="typeIconNode" src="" height="32" width="32"/>
	</div>

    <div style="height:100%;position:relative;left:0;top:0">
		<div style="position:absolute;top:2px;left:2px;">
			<span class="dijitMediumLabel dijitDarkLabel dijitBoldLabel" dojoAttachPoint="nameNode" style="white-space:nowrap;"></span>
		</div>
		<div class="hr" style="position:absolute;top:16px;left:0;"></div>
		<div class="dijitSmallLabel dijitDarkLabel" style="position:absolute;top:18px;">
			<span dojoAttachPoint="typeNode" style="padding-left:4px"></span>
		</div>
		<div class="dijitSmallLabel dijitDarkLabel" style="position:absolute;top:18px;right:0">
			<span dojoAttachPoint="sizeNode" style="padding-left:4px"></span>
		</div>
	</div>

</div>