<div style="padding:4px 0 0 72px;position:relative;height:100%;width:100%">

    <div style="position:absolute;top:8px;left:8px;height:48px;width:48px;">
        <img dojoAttachPoint="typeIconNode" src="" height="48" width="48"/>
        <img dojoAttachPoint="stateIconNode" src="/images/loading/loading24.gif" height="24"width="24" style="position:absolute;bottom:0;right:0">
    </div>

    <div class="dijitBoldLabel dijitLargeLabel dijitDarkLabel" dojoAttachPoint="nameNode" style="margin-right:80px"></div>
    <div dojoAttachPoint="tableNode"></div>

</div>