<div style="height:100%;width:100%;">

<div    dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        style="padding:8px;height:100%;width:100%;">

     <div    dojoType="dijit.layout.ContentPane"
            region="top"
            splitter="false"
            style="padding:0;overflow:hidden;height:20px">
        <!-- Does not handle multi-select yet -->
        <!-- div dojoAttachPoint="headerNode"></div -->
        <span dojoAttachPoint="folderNameNode" class="dijitDarkLabel dijitMediumLabel">Select Folder:</span>

    </div>

    <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="center"
                splitter="true"
                style="padding:0"
                class="highlightPane">

       <div dojoAttachPoint="treeNode"></div>

    </div>

</div>

</div>