<div style="height:100%;width:100%;">

<div    dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        style="padding:0px;height:100%;width:100%;">

     <div   dojoType="dijit.layout.ContentPane"
            region="top"
            splitter="false"
            style="overflow:hidden;height:32px">

         <div dojoAttachPoint="headerNode"></div>

    </div>

    <div    dojoType="dijit.layout.BorderContainer"
            design="headline"
            gutters="false"
            splitter="false"
            region="center">

        <div    dojoType="dijit.layout.ContentPane"
                dojoAttachPoint="midTitlePane"
                region="top"
                splitter="false"
                class="versaMidHeader"
                style="height:16px;padding:4px 8px 4px 8px;position:relative;">
            Custom Properties
        </div>

        <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="center"
                splitter="true"
                style="padding:0">

           <div dojoAttachPoint="editorNode"></div>

        </div>

        <div    dojoType="dijit.layout.ContentPane"
                region="bottom"
                splitter="false"
                style="padding:0 8px 0 16px;;overflow:hidden;height:128px">

             <div dojoAttachPoint="infoNode"></div>

        </div>

    </div>

</div>

</div>