<div style="height:100%;width:100%;">

<div    dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        style="padding:0px 8px 4px 8px;height:100%;width:100%;">

     <div    dojoType="dijit.layout.ContentPane"
            region="top"
            splitter="false"
            style="overflow:hidden;height:32px">

         <div dojoAttachPoint="headerNode"></div>

    </div>

    <div    dojoType="dijit.layout.ContentPane"
                splitter="false"
                region="center"
                splitter="true"
                style="padding:8px"
                class="highlightPane">

       <div dojoAttachPoint="editorNode"></div>

    </div>

    <div    dojoType="dijit.layout.ContentPane"
            region="bottom"
            splitter="false"
            style="padding:8px;overflow:hidden;height:144px">

         <div dojoAttachPoint="tableNode"></div>

    </div>

</div>

</div>