<div style="height:100%;width:100%">

<div    dojoAttachPoint="mainNode"
        dojoType="dijit.layout.BorderContainer"
        design="headline"
        gutters="false"
        liveSplitters="true"
        style="height:100%;width:100%">

    <div    dojoType="dijit.layout.ContentPane"
            splitter="false"
            region="top"
            style="padding:8px 0 8px 0;height:24px;">

        <div dojoAttachPoint="tableNode"></div>

    </div>

    <div    dojoType="dijit.layout.ContentPane"
            splitter="false"
            region="center"
            class="highlightPane">

        <div dojoAttachPoint="editorNode"></div>

    </div>

</div>

</div>