.avatarIcon{
    background-repeat: no-repeat;
	background-position:center center;
	height:64px;
	width:64px;
}
.buttonIcon{
	background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px;
	margin:2px 4px 0 0;
}
.searchIcon{
    background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px;
	margin:2px 0 2px 4px;
}
.commandIcon{
    background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px
}
.commandIcon32{
    background-repeat: no-repeat;
	background-position:center center;
	height:32px;
	width:32px
}
.folderIcon{
	background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px;
}
.imageIcon{
	background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px;
}
.menuIcon{
    background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px
}
.sidebarIcon{
    background-repeat: no-repeat;
	background-position:center center;
	height:16px;
	width:16px;
    
}
.statusIcon{
	background-repeat: no-repeat;
	background-position:center center;
	width:16px;
	height:16px
}
.bfreeIconLogout,
.bfreeIconErrorRight,
.bfreeIconErrorLeft,
.bfreeIconExportXML,
.bfreeIconExportPDF,
.bfreeIconExportCSV,
.bfreeIconFolder,
.bfreeIconDocument,
.bfreeIconQuota,
.bfreeIconStateCko,
.bfreeIconNewSubFolder,
.bfreeIconSecureFolder,
.bfreeIconDeleteFolder,
.bfreeIconEditFolder,
.bfreeIconNewFolder,
.bfreeIconSecureDocument,
.bfreeIconDeleteDocument,
.bfreeIconCancelCkoDocument,
.bfreeIconCkiDocument,
.bfreeIconCkoDocument,
.bfreeIconMoveDocument,
.bfreeIconEditDocument,
.bfreeIconCopyDocument,
.bfreeIconViewDocument,
.bfreeIconNewDocument,
.bfreeIconRefreshDocument,
.bfreeIconRemoveSharedItem,
.bfreeIconPrint,
.bfreeIconViewDef,
.bfreeIconDocType,
.bfreeIconChoiceList,
.bfreeIconPropDef,
.bfreeIconGroup,
.bfreeIconUser,
.bfreeIconDelete,
.bfreeIconEdit,
.bfreeIconUndo,
.bfreeIconSave,
.bfreeIconNew,
.bfreeIconAdmin,
.bfreeIconReset,
.bfreeIconSearch,
.bfreeIconLock,
.bfreeIconHelp,
.bfreeIconInvalid,
.bfreeIconDown,
.bfreeIconUp,
.bfreeIconRemove,
.bfreeIconAdd,
.bfreeIconClose,
.bfreeIconError,
.bfreeIconCancel,
.bfreeIconOk,
.bfreeIcon{
	background-image: url('images/alpha/icons.16.png');
}
.bfreeIcon              { background-position: 0px; }
.bfreeIconOk            { background-position: -16px; }
.bfreeIconCancel        { background-position: -32px; }
.bfreeIconError         { background-position: -48px; }
.bfreeIconClose         { background-position: -64px; }
.bfreeIconAdd           { background-position: -80px; }
.bfreeIconRemove        { background-position: -96px; }
.bfreeIconUp            { background-position: -112px; }
.bfreeIconDown          { background-position: -128px; }
.bfreeIconInvalid       { background-position: -144px; }
.bfreeIconHelp          { background-position: -160px; }
.bfreeIconLock          { background-position: -176px; }
.bfreeIconSearch        { background-position: -192px; }
.bfreeIconReset         { background-position: -208px; }
.bfreeIconAdmin         { background-position: -224px; }
.bfreeIconNew           { background-position: -240px; }
.bfreeIconSave          { background-position: -256px; }
.bfreeIconUndo          { background-position: -272px; }
.bfreeIconEdit          { background-position: -288px; }
.bfreeIconDelete        { background-position: -304px; }
.bfreeIconUser          { background-position: -320px; }
.bfreeIconGroup         { background-position: -336px; }
.bfreeIconPropDef       { background-position: -352px; }
.bfreeIconChoiceList    { background-position: -368px; }
.bfreeIconDocType       { background-position: -384px; }
.bfreeIconViewDef       { background-position: -400px; }
.bfreeIconPrint             { background-position: -416px; }
.bfreeIconRemoveSharedItem  { background-position: -432px; }
.bfreeIconRefreshDocument   { background-position: -448px; }
.bfreeIconNewDocument       { background-position: -464px; }
.bfreeIconViewDocument      { background-position: -480px; }
.bfreeIconCopyDocument      { background-position: -496px; }
.bfreeIconEditDocument      { background-position: -512px; }
.bfreeIconMoveDocument      { background-position: -528px; }
.bfreeIconCkoDocument       { background-position: -544px; }
.bfreeIconCkiDocument       { background-position: -560px; }
.bfreeIconCancelCkoDocument { background-position: -576px; }
.bfreeIconDeleteDocument    { background-position: -592px; }
.bfreeIconSecureDocument    { background-position: -608px; }
.bfreeIconNewFolder         { background-position: -624px; }
.bfreeIconEditFolder        { background-position: -640px; }
.bfreeIconDeleteFolder      { background-position: -656px; }
.bfreeIconSecureFolder      { background-position: -672px; }
.bfreeIconNewSubFolder      { background-position: -688px; }
.bfreeIconStateCko          { background-position: -704px; }
.bfreeIconQuota             { background-position: -720px; }
.bfreeIconDocument          { background-position: -736px; }
.bfreeIconFolder            { background-position: -752px; }
.bfreeIconExportCSV         { background-position: -768px; }
.bfreeIconExportPDF         { background-position: -784px; }
.bfreeIconExportXML         { background-position: -800px; }
.bfreeIconErrorLeft         { background-position: -816px; }
.bfreeIconErrorRight        { background-position: -832px; }
.bfreeIconLogout            { background-position: -848px; }
.bfreeIconLogoutD,
.bfreeIconErrorRightD,
.bfreeIconErrorLeftD,
.bfreeIconExportXMLD,
.bfreeIconExportPDFD,
.bfreeIconExportCSVD,
.bfreeIconFolderD,
.bfreeIconDocumentD,
.bfreeIconQuotaD,
.bfreeIconStateCkoD,
.bfreeIconNewSubFolderD,
.bfreeIconSecureFolderD,
.bfreeIconDeleteFolderD,
.bfreeIconEditFolderD,
.bfreeIconNewFolderD,
.bfreeIconSecureDocumentD,
.bfreeIconDeleteDocumentD,
.bfreeIconCancelCkoDocumentD,
.bfreeIconCkiDocumentD,
.bfreeIconCkoDocumentD,
.bfreeIconMoveDocumentD,
.bfreeIconEditDocumentD,
.bfreeIconCopyDocumentD,
.bfreeIconViewDocumentD,
.bfreeIconNewDocumentD,
.bfreeIconRefreshDocumentD,
.bfreeIconRemoveSharedItemD,
.bfreeIconPrintD,
.bfreeIconViewDefD,
.bfreeIconDocTypeD,
.bfreeIconChoiceListD,
.bfreeIconPropDefD,
.bfreeIconGroupD,
.bfreeIconUserD,
.bfreeIconDeleteD,
.bfreeIconEditD,
.bfreeIconUndoD,
.bfreeIconSaveD,
.bfreeIconNewD,
.bfreeIconAdminD,
.bfreeIconResetD,
.bfreeIconSearchD,
.bfreeIconLockD,
.bfreeIconHelpD,
.bfreeIconInvalidD,
.bfreeIconDownD,
.bfreeIconUpD,
.bfreeIconRemoveD,
.bfreeIconAddD,
.bfreeIconCloseD,
.bfreeIconErrorD,
.bfreeIconCancelD,
.bfreeIconOkD,
.bfreeIconD{
	background-image: url('images/alpha/icons.16.d.png');
}
.bfreeIconD              { background-position: 0px; }
.bfreeIconOkD            { background-position: -16px; }
.bfreeIconCancelD        { background-position: -32px; }
.bfreeIconErrorD         { background-position: -48px; }
.bfreeIconCloseD         { background-position: -64px; }
.bfreeIconAddD           { background-position: -80px; }
.bfreeIconRemoveD        { background-position: -96px; }
.bfreeIconUpD            { background-position: -112px; }
.bfreeIconDownD          { background-position: -128px; }
.bfreeIconInvalidD       { background-position: -144px; }
.bfreeIconHelpD          { background-position: -160px; }
.bfreeIconLockD          { background-position: -176px; }
.bfreeIconSearchD        { background-position: -192px; }
.bfreeIconResetD         { background-position: -208px; }
.bfreeIconAdminD         { background-position: -224px; }
.bfreeIconNewD           { background-position: -240px; }
.bfreeIconSaveD          { background-position: -256px; }
.bfreeIconUndoD          { background-position: -272px; }
.bfreeIconEditD          { background-position: -288px; }
.bfreeIconDeleteD        { background-position: -304px; }
.bfreeIconUserD          { background-position: -320px; }
.bfreeIconGroupD         { background-position: -336px; }
.bfreeIconPropDefD       { background-position: -352px; }
.bfreeIconChoiceListD    { background-position: -368px; }
.bfreeIconDocTypeD       { background-position: -384px; }
.bfreeIconViewDefD       { background-position: -400px; }
.bfreeIconPrintD             { background-position: -416px; }
.bfreeIconRemoveSharedItemD  { background-position: -432px; }
.bfreeIconRefreshDocumentD   { background-position: -448px; }
.bfreeIconNewDocumentD       { background-position: -464px; }
.bfreeIconViewDocumentD      { background-position: -480px; }
.bfreeIconCopyDocumentD      { background-position: -496px; }
.bfreeIconEditDocumentD      { background-position: -512px; }
.bfreeIconMoveDocumentD      { background-position: -528px; }
.bfreeIconCkoDocumentD       { background-position: -544px; }
.bfreeIconCkiDocumentD       { background-position: -560px; }
.bfreeIconCancelCkoDocumentD { background-position: -576px; }
.bfreeIconDeleteDocumentD    { background-position: -592px; }
.bfreeIconSecureDocumentD    { background-position: -608px; }
.bfreeIconNewFolderD         { background-position: -624px; }
.bfreeIconEditFolderD        { background-position: -640px; }
.bfreeIconDeleteFolderD      { background-position: -656px; }
.bfreeIconSecureFolderD      { background-position: -672px; }
.bfreeIconNewSubFolderD      { background-position: -688px; }
.bfreeIconStateCkoD          { background-position: -704px; }
.bfreeIconQuotaD             { background-position: -720px; }
.bfreeIconDocumentD          { background-position: -736px; }
.bfreeIconFolderD            { background-position: -752px; }
.bfreeIconExportCSVD         { background-position: -768px; }
.bfreeIconExportPDFD         { background-position: -784px; }
.bfreeIconExportXMLD         { background-position: -800px; }
.bfreeIconErrorLeftD         { background-position: -816px; }
.bfreeIconErrorRightD        { background-position: -832px; }
.bfreeIconLogoutD            { background-position: -848px; }
.bfreeIconLogout32,
.bfreeIconErrorRight32,
.bfreeIconErrorLeft32,
.bfreeIconExportXML32,
.bfreeIconExportPDF32,
.bfreeIconExportCSV32,
.bfreeIconFolder32,
.bfreeIconDocument32,
.bfreeIconQuota32,
.bfreeIconStateCko32,
.bfreeIconNewSubFolder32,
.bfreeIconSecureFolder32,
.bfreeIconDeleteFolder32,
.bfreeIconEditFolder32,
.bfreeIconNewFolder32,
.bfreeIconSecureDocument32,
.bfreeIconDeleteDocument32,
.bfreeIconCancelCkoDocument32,
.bfreeIconCkiDocument32,
.bfreeIconCkoDocument32,
.bfreeIconMoveDocument32,
.bfreeIconEditDocument32,
.bfreeIconCopyDocument32,
.bfreeIconViewDocument32,
.bfreeIconNewDocument32,
.bfreeIconRefreshDocument32,
.bfreeIconRemoveSharedItem32,
.bfreeIconPrint32,
.bfreeIconViewDef32,
.bfreeIconDocType32,
.bfreeIconChoiceList32,
.bfreeIconPropDef32,
.bfreeIconGroup32,
.bfreeIconUser32,
.bfreeIconDelete32,
.bfreeIconEdit32,
.bfreeIconUndo32,
.bfreeIconSave32,
.bfreeIconNew32,
.bfreeIconAdmin32,
.bfreeIconReset32,
.bfreeIconSearch32,
.bfreeIconLock32,
.bfreeIconHelp32,
.bfreeIconInvalid32,
.bfreeIconDown32,
.bfreeIconUp32,
.bfreeIconRemove32,
.bfreeIconAdd32,
.bfreeIconClose32,
.bfreeIconError32,
.bfreeIconCancel32,
.bfreeIconOk32,
.bfreeIcon32{
    background-image: url('images/alpha/icons.32.png');
}
.bfreeIcon32                { background-position: 0px; }
.bfreeIconOk32              { background-position: -32px; }
.bfreeIconCancel32          { background-position: -64px; }
.bfreeIconError32           { background-position: -96px; }
.bfreeIconClose32           { background-position: -128px; }
.bfreeIconAdd32             { background-position: -160px; }
.bfreeIconRemove32          { background-position: -192px; }
.bfreeIconUp32              { background-position: -224px; }
.bfreeIconDown32            { background-position: -256px; }
.bfreeIconInvalid32         { background-position: -288px; }
.bfreeIconHelp32            { background-position: -320px; }
.bfreeIconLock32            { background-position: -352px; }
.bfreeIconSearch32          { background-position: -384px; }
.bfreeIconReset32           { background-position: -416px; }
.bfreeIconAdmin32           { background-position: -448px; }
.bfreeIconNew32             { background-position: -480px; }
.bfreeIconSave32            { background-position: -512px; }
.bfreeIconUndo32            { background-position: -544px; }
.bfreeIconEdit32            { background-position: -576px; }
.bfreeIconDelete32          { background-position: -608px; }
.bfreeIconUser32            { background-position: -640px; }
.bfreeIconGroup32           { background-position: -672px; }
.bfreeIconPropDef32         { background-position: -704px; }
.bfreeIconChoiceList32      { background-position: -736px; }
.bfreeIconDocType32         { background-position: -768px; }
.bfreeIconViewDef32         { background-position: -800px; }
.bfreeIconPrint32               { background-position: -832px; }
.bfreeIconRemoveSharedItem32    { background-position: -864px; }
.bfreeIconRefreshDocument32     { background-position: -896px; }
.bfreeIconNewDocument32         { background-position: -928px; }
.bfreeIconViewDocument32        { background-position: -960px; }
.bfreeIconCopyDocument32        { background-position: -992px; }
.bfreeIconEditDocument32        { background-position: -1024px; }
.bfreeIconMoveDocument32        { background-position: -1056px; }
.bfreeIconCkoDocument32         { background-position: -1088px; }
.bfreeIconCkiDocument32         { background-position: -1120px; }
.bfreeIconCancelCkoDocument32   { background-position: -1152px; }
.bfreeIconDeleteDocument32      { background-position: -1184px; }
.bfreeIconSecureDocument32      { background-position: -1216px; }
.bfreeIconNewFolder32           { background-position: -1248px; }
.bfreeIconEditFolder32          { background-position: -1280px; }
.bfreeIconDeleteFolder32        { background-position: -1312px; }
.bfreeIconSecureFolder32        { background-position: -1344px; }
.bfreeIconNewSubFolder32        { background-position: -1376px; }
.bfreeIconStateCko32            { background-position: -1408px; }
.bfreeIconQuota32               { background-position: -1440px; }
.bfreeIconDocument32            { background-position: -1472px; }
.bfreeIconFolder32              { background-position: -1504px; }
.bfreeIconExportCSV32           { background-position: -1536px; }
.bfreeIconExportPDF32           { background-position: -1568px; }
.bfreeIconExportXML32           { background-position: -1600px; }
.bfreeIconErrorLeft32           { background-position: -1632px; }
.bfreeIconErrorRight32          { background-position: -1664px; }
.bfreeIconLogout32              { background-position: -1696px; }
.bfreeIconLogout32D,
.bfreeIconExportXML32D,
.bfreeIconExportPDF32D,
.bfreeIconExportCSV32D,
.bfreeIconFolder32D,
.bfreeIconDocument32D,
.bfreeIconQuota32D,
.bfreeIconStateCko32D,
.bfreeIconNewSubFolder32D,
.bfreeIconSecureFolder32D,
.bfreeIconDeleteFolder32D,
.bfreeIconEditFolder32D,
.bfreeIconNewFolder32D,
.bfreeIconSecureDocument32D,
.bfreeIconDeleteDocument32D,
.bfreeIconCancelCkoDocument32D,
.bfreeIconCkiDocument32D,
.bfreeIconCkoDocument32D,
.bfreeIconMoveDocument32D,
.bfreeIconEditDocument32D,
.bfreeIconEditDocument32D,
.bfreeIconCopyDocument32D,
.bfreeIconViewDocument32D,
.bfreeIconNewDocument32D,
.bfreeIconRefreshDocument32D,
.bfreeIconRemoveSharedItem32D,
.bfreeIconPrint32D,
.bfreeIconViewDef32D,
.bfreeIconDocType32D,
.bfreeIconChoiceList32D,
.bfreeIconPropDef32D,
.bfreeIconGroup32D,
.bfreeIconUser32D,
.bfreeIconDelete32D,
.bfreeIconEdit32D,
.bfreeIconUndo32D,
.bfreeIconSave32D,
.bfreeIconNew32D,
.bfreeIconAdmin32D,
.bfreeIconReset32D,
.bfreeIconSearch32D,
.bfreeIconLock32D,
.bfreeIconHelp32D,
.bfreeIconInvalid32D,
.bfreeIconDown32D,
.bfreeIconUp32D,
.bfreeIconRemove32D,
.bfreeIconAdd32D,
.bfreeIconClose32D,
.bfreeIconError32D,
.bfreeIconCancel32D,
.bfreeIconOk32D,
.bfreeIcon32D{
    background-image: url('images/alpha/icons.32.d.png');
}
.bfreeIcon32D                { background-position: 0px; }
.bfreeIconOk32D              { background-position: -32px; }
.bfreeIconCancel32D          { background-position: -64px; }
.bfreeIconError32D           { background-position: -96px; }
.bfreeIconClose32D           { background-position: -128px; }
.bfreeIconAdd32D             { background-position: -160px; }
.bfreeIconRemove32D          { background-position: -192px; }
.bfreeIconUp32D              { background-position: -224px; }
.bfreeIconDown32D            { background-position: -256px; }
.bfreeIconInvalid32D         { background-position: -288px; }
.bfreeIconHelp32D            { background-position: -320px; }
.bfreeIconLock32D            { background-position: -352px; }
.bfreeIconSearch32D          { background-position: -384px; }
.bfreeIconReset32D           { background-position: -416px; }
.bfreeIconAdmin32D           { background-position: -448px; }
.bfreeIconNew32D             { background-position: -480px; }
.bfreeIconSave32D            { background-position: -512px; }
.bfreeIconUndo32D            { background-position: -544px; }
.bfreeIconEdit32D            { background-position: -576px; }
.bfreeIconDelete32D          { background-position: -608px; }
.bfreeIconUser32D            { background-position: -640px; }
.bfreeIconGroup32D           { background-position: -672px; }
.bfreeIconPropDef32D         { background-position: -704px; }
.bfreeIconChoiceList32D      { background-position: -736px; }
.bfreeIconDocType32D         { background-position: -768px; }
.bfreeIconViewDef32D         { background-position: -800px; }
.bfreeIconPrint32D               { background-position: -832px; }
.bfreeIconRemoveSharedItem32D    { background-position: -864px; }
.bfreeIconRefreshDocument32D     { background-position: -896px; }
.bfreeIconNewDocument32D         { background-position: -928px; }
.bfreeIconViewDocument32D        { background-position: -960px; }
.bfreeIconCopyDocument32D        { background-position: -992px; }
.bfreeIconEditDocument32D        { background-position: -1024px; }
.bfreeIconMoveDocument32D        { background-position: -1056px; }
.bfreeIconCkoDocument32D         { background-position: -1088px; }
.bfreeIconCkiDocument32D         { background-position: -1120px; }
.bfreeIconCancelCkoDocument32D   { background-position: -1152px; }
.bfreeIconDeleteDocument32D      { background-position: -1184px; }
.bfreeIconSecureDocument32D      { background-position: -1216px; }
.bfreeIconNewFolder32D           { background-position: -1248px; }
.bfreeIconEditFolder32D          { background-position: -1312px; }
.bfreeIconDeleteFolder32D        { background-position: -1344px; }
.bfreeIconNewSubFolder32D        { background-position: -1376px; }
.bfreeIconStateCko32D            { background-position: -1408px; }
.bfreeIconQuota32D               { background-position: -1440px; }
.bfreeIconDocument32D            { background-position: -1472px; }
.bfreeIconFolder32D              { background-position: -1504px; }
.bfreeIconExportCSV32D           { background-position: -1536px; }
.bfreeIconExportPDF32D           { background-position: -1568px; }
.bfreeIconExportXML32D           { background-position: -1600px; }
.bfreeIconErrorLeft32D           { background-position: -1632px; }
.bfreeIconErrorRight32D          { background-position: -1664px; }
.bfreeIconLogout32D              { background-position: -1696px; }
.bfreeShareFolderOpened,
.bfreeShareFolderClosed,
.bfreeShareRootFolder,
.bfreeSearchFolder,
.bfreeTrashFolder,
.bfreeRootFolder{
    background-image: url('images/icons.folder.16.png');
}
.bfreeRootFolder { background-position: 0px; }
.bfreeTrashFolder { background-position: -16px; }
.bfreeSearchFolder { background-position: -32px; }
.bfreeShareRootFolder { background-position: -48px; }
.bfreeShareFolderClosed{ background-position: -64px; }
.bfreeShareFolderOpened { background-position: -80px; }
