<div align="center">
    <div id="logonFormNode">

        <div>
            <div>Username</div>
            <input id="userNameNode"/>
        </div>

        <div>
            <div>Password</div>
            <input id="passwordNode"/>
        </div>

        <table id="statusNode">
            <tr>
                <td style="vertical-align:top;">
                    <img id="statusImgNode" src="/images/icons/16/blank.png" width="16" height="16" style="float:right;margin-right:8px"/>
                </td>
                <td>
                    <span id="statusMsgNode"></span>
                </td>
            </tr>
        </table>

        <div>
            <button id="logonButtonNode" type="submit"></button>
        </div>

    </div>
</div>
